/*style des elements de base*/
body {
  background-color: #181818;
  font-family: sans-serif;
  height: 100%;
}

input{
  margin: 5px;
  border-color: silver;
  background-color: #181818;
  color: white;
  border-radius: 4px;
}

#compteRendu, #avis{
  margin: 5px;
}

textarea {
  border-color: silver;
  background-color: #181818;
  color: white;
  margin: 5px;
  border-radius: 4px;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
}

select {
  margin: 5px;
  border-color: silver;
  background-color: #181818;
  color: white;
  border-radius: 4px;
}

#pourcentage {
  font-size: 15px;
  text-align: right;
  margin: auto;
  display: block;
  color: rgb(255, 0, 0);
}




/*
Style des tableaux
*/
table {
  border: 1px solid #383838;
  width: 100%;
  border-collapse: collapse;
}

td {
  /*width: 16%;*/
  color: white;
  border: 1px solid #383838;
  padding-top: 5px;
  padding-bottom: 5px
}

tr {
  background-color: #1f1f1f;
  border: 1px solid #383838;
}

tr:nth-child(even){
  background-color: #181818;
}

tr:hover {
  background-color: black;
}

.en-tete, .en-tete:hover{
  background-color: #3d3d3d;
}

.retirerElement, .retirerMission{
  background-color: rgb(196, 0, 0);
  border-color: rgb(196, 0, 0);
  color: white;
  border-radius: 5px;
  font-size: 15px;
}

.retirerElement:hover, .retirerMission:hover{
  background-color: rgb(150, 0, 0);
  border-color: rgb(150, 0, 0);
}


/*
Style de la navbar
*/
#navbar {
  overflow: hidden;
  margin-left: 20px;
  top: 0;
}

a {
  text-decoration: none;
  display: block;
  background: linear-gradient(#222222, #181818);
  border-radius: 10px 10px 0px 0px;
  text-align: center;
  float: left;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  color: silver;
}

a:hover {
  background: #181818;
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: rgb(190, 56, 3);
}




/*
Les informations a venir ne concernent que la page 1
*/

/*paramétrage de la grid de la page 1*/
.container1{
  color: white;
  padding: 20px;
  display:grid;
  height: 100%;
  grid-template-columns: 6fr 1.5fr 1.5fr;
  grid-template-rows: 45px 45px 180px;
  grid-template-areas:
    "informationsPrincipales informationsPrincipales informationsPrincipales"
    "informationEntreprise informationEntreprise origine"
    ". date finForm";
}

#informationsPrincipales{grid-area: informationsPrincipales;}

#informationEntreprise{grid-area: informationEntreprise;}

#origine{grid-area: origine;}

#date{grid-area: date;}

#finForm{grid-area: finForm;}




/*dimention des input*/
#informationsPrincipales input{
  width: 48%;
}

#informationEntreprise input{
  width: 29%;
}

#origine select {
  width: 95%;
}






/*
Les informations a venir ne concernent que la page 2
*/

/*paramétrage de la grid de la page 2*/
.container2{
  color: white;
  padding: 20px;
  display:none;
  height: 100%;
  grid-template-columns: 7.5fr 1.5fr;
  grid-template-rows: 1fr 45px 180px;/*1fr 2fr 1fr 4fr;*/
  grid-template-areas: 
    "tableContact tableContact"
    "ajouterContact ajouterContact"
    ". finForm";
}

/*
Disposition des elements sur la page
*/
#tableContact{grid-area: tableContact;}

#ajouterContact{grid-area: ajouterContact;}

/*
Taille des inputs
*/
#tableContact input{
  width: calc(100% - 18px);
}

#ajouterContact {
  height: 30px;
  width: 150px;
  border-radius: 4px;
  margin-top: 5px;
  background-color: rgb(100, 100, 100);
  border-color: rgb(100, 100, 100);
  color: silver;
}

#ajouterContact:hover {
  background-color: rgb(80, 80, 80);
  border-color: rgb(80, 80, 80);
}

.remove {
  width: min-content;
  text-align: center;
}





/*
Les informations a venir ne concernent que la page 3
*/

/*paramétrage de la grid de la page 3*/
.container3{
  color: white;
  padding: 20px;
  display:none;
  height: 100%;
  grid-template-columns: 7.5fr 1.5fr;
  grid-template-rows: 1fr 180px;
  grid-template-areas: 
    "tableMission tableMission"
    "ajouterMission finForm";
}

/*
Disposition des elements sur la page
*/
#tableMission{grid-area: tableMission;}

#ajouterMission{grid-area: ajouterMission;}


#ajouterMission {
  height: 30px;
  width: 150px;
  border-radius: 4px;
  margin-top: 5px;
  background-color: rgb(100, 100, 100);
  border-color: rgb(100, 100, 100);
  color: silver;
}

#ajouterMission:hover {
  background-color: rgb(80, 80, 80);
  border-color: rgb(80, 80, 80);
}



/*
Les informations a venir ne concernent que la page 4
*/

/*paramétrage de la grid de la page 4*/
.container4{
  color: white;
  padding: 20px;
  display:none;
  height: 100%;
  grid-template-columns: 7.5fr 1.5fr;
  grid-template-rows: 1fr 180px;
  grid-template-areas: 
    "tableCA tableCA"
    "textCA finForm";
}

/*
Disposition des elements sur la page
*/
#tableCA{grid-area: tableCA;}

#textCA{grid-area: textCA;}








/*elements de fin de formulaire*/

#displayProgressBar{
  margin: 10px;
}

#progressBar{
  background-color: green;
  width: 0%;
  height: 10px;
  margin-top: -10px;
}

#progressBarFull{
  background-color: rgb(99, 99, 99);
  width: 100%;
  height: 10px;
}

#notation{
  margin: 10px
}

#finForm {
  position:relative;
  margin-right: 2px;
}

#envoyer {
  position:absolute;
  bottom:0;
  right:0;
  margin-right: 10px;
  height: 30px;
  width: 100px;
  border-radius: 4px;
  background-color: rgb(58, 0, 192);
  border-color: rgb(58, 0, 192);
}

#envoyer:hover{
  background-color: rgb(47, 0, 156);
  border-color: rgb(47, 0, 156);
}





/*Gestion du système de notation*/
.check{
  color: orange;
}

.un-check{
  color: black;
}








/*Style lié au pop-up*/
.fermeture_pop-up {
  display: none;
  position: fixed;
  z-index: 1;
  top:0;
  padding-top: 50px;
  width: 100%;
  height: 100%;
  margin-top: -10px;
  margin-left: -10px;
  overflow: auto;
  background-color: rgba(255, 255, 255, 0.5);
}

.pop-up {
  background-color: #1f1f1f;
  color: white;
  width: 500px;
  margin: auto;
  margin-top: 5%;
  padding: 20px;
  box-shadow: 10px 5px 5px rgb(12, 12, 12);
}



  /* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
}

.close:hover{
  color: #000;
  text-decoration: none;
  cursor: pointer;
}